<%= form_with scope: :lamdba,url: lamdba_index_path, local: true do |form| %>
  <p>
    <%= form.label :key %><br>
    <%= form.text_field :key %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
