<div>
  <div class="">
  <%=label_tag('key') %>:
  </div>
  <div class="">
    <%= @lamdba.key %>
  </div>
</div>
<div>
  <div class="">
    <%= label_tag('square') %>:
  </div>
  <div class="">
    <%= @lamdba.square_value %>
  </div>
</div>
